.filterOperatorButtonTitle {
    width: 100% !important;
    cursor: pointer !important;
}

.filterOperatorDropdown {
    width: 200px !important;
    padding: 10px !important;
    top: 83px !important;
    right: 15px !important;
    left: unset !important;
}

.filterInput {
    margin-top: 10px !important;
}

.filterUpdateBtn {
    text-align: center !important;
    margin-top: 10px !important;
}